#page{margin:0px auto;padding:0px auto;width:800px;height:700px;background:silver;}
#photoslide{margin:0px auto;padding:0px auto;width:600px;height:350px;border:10px solid wheat;}
#muzic{margin:0px auto;padding:0px auto;width:600px;height:50px;border:10px solid wheat;}