#page{margin:0px auto;padding:0px auto;width:800px;height:600px;background:red;}
#photoslide{margin-top:15px;width:700px;height:352px;border:1px solid wheat;}
#muzic{width:600px;height:50px;border:1px solid wheat; margin-left:0px;}
 .wrap_fullwidth{width:100%; position: relative; float:left; clear:both; }
.center{width:940px; position: relative; margin:0 auto; clear: both; padding:20px; overflow: auto;}
.wrap_content{width:100%; position: relative; clear: both; float: left; }

/*Generic rules*/
.content_one_half,
.content_one_fourth,
.content_three_fourth,
.content_two_third,
.content_one_third,
.content_fullwidth
{margin: 0 0 10px 50px; float:left; position: relative;}

/* First child elements */
#top .content_one_half:first-child,
#top .content_one_fourth:first-child,
#top .content_three_fourth:first-child,
#top .content_two_third:first-child,
#top .content_one_third:first-child,
#top .content_fullwidth:first-child, 
#top .js_add_firstchild, 
#top .firstchild  
{margin:0 0 10px 0;
}

/*************************** Basic sets ****************************/
/*Basic 50px set*/
#top .wrap_fullwidth .content_fullwidth{
	width:940px;
	clear:both;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.content_one_third{width:280px;}
.content_one_half{width:445px;}
.content_one_fourth{width:197.5px;}
.content_three_fourth{width:692.5px;}
.content_two_third{width:610px;}

/*Basic 20px set*/
.small_margin .content_one_half,
.small_margin .content_one_fourth,
.small_margin .content_three_fourth,
.small_margin .content_two_third,
.small_margin .content_one_third,
.small_margin .content_fullwidth
{margin: 0 0 10px 20px; float:left;}

.small_margin .content_fullwidth{width:100%;}
.small_margin .content_one_third{width:300px;}
.small_margin .content_one_half{width:460px;}
.small_margin .content_one_fourth{
	width:300px;
}
.small_margin .content_three_fourth{width:700px;}
.small_margin .content_two_third{
	width:750px;
}


/*************************** Boxed sets ****************************/
/*Boxed 50px set*/
.boxed .content_one_half,
.boxed .content_one_fourth,
.boxed .content_three_fourth,
.boxed .content_two_third,
.boxed .content_one_third,
.boxed .content_fullwidth
{margin: 0 0 10px 50px; float:left; height:50px; border-width: 1px; border-style: solid; padding: 20px;}

#top .wrap_fullwidth .boxed .content_fullwidth{width:898px;}
.boxed .content_one_third{width:238px;}
.boxed .content_one_half{width:403px;}
.boxed .content_one_fourth{width:155.5px;}
.boxed .content_three_fourth{width:650.5px;}
.boxed .content_two_third{width:568px;}

/*Boxed 20px set*/
.boxed .small_margin .content_one_half,
.boxed .small_margin .content_one_fourth,
.boxed .small_margin .content_three_fourth,
.boxed .small_margin .content_two_third,
.boxed .small_margin .content_one_third,
.boxed .small_margin .content_fullwidth
{margin: 0 0 10px 20px; float:left; padding:20px;}

.boxed .small_margin .content_fullwidth{width:898px;}
.boxed .small_margin .content_one_third{width:258px;}
.boxed .small_margin .content_one_half{width:418px;}
.boxed .small_margin .content_one_fourth{width:178px;}
.boxed .small_margin .content_three_fourth{width:658px;}
.boxed .small_margin .content_two_third{width:578px;}

/************************************************************************
FEATURED
*************************************************************************/
#featured, .featured, .fadeout, .newsselect{ 
height:370px; 			/*this changes the height of the image slider*/
}

#feature_background{
padding:0 0 20px 0;
}

#top #feature_wrap{
padding:0 0 20px;
overflow: visible;
}

#featured{
position: relative;
width:940px;
overflow: hidden;
}

#top .featured1{
border:none;
display: block;
}


.featured{
width:940px;
position:absolute;
top:0;
left:0;
overflow: hidden;
display:none;
}

#top .fadeout{
position:absolute;
width:200px;
display:block;
right:0px;
z-index: 3;
}

/*accordion*/
.accordion .featured{
width:670px;
}

#top .accordion .feature_excerpt{
width:630px;
}

#top .accordion .heading_clone{
position: absolute;
z-index: 4;
bottom:20px;
left:20px;
font-size: 13px;
text-transform: uppercase;
padding:0;
margin: 0;
}

/*fadeslider*/
.fadeslider .featured{
width:100%;
border:none;
}

#top .slidecontrolls{
position:absolute;
width:10px;
right:-15px;
top:0;
}

#top .slidecontrolls span{
height:10px;
padding:2px 0;
width:10px;
display:block;
cursor: pointer;
}


#top .fadeslider .feature_excerpt{
width:917px;
}

/*newsslider*/

.newsselect{
position: absolute;
overflow: hidden;
width:276px;
right:0px;
top:0px;
z-index: 5;
}

.newsslider .newsItems{
position: absolute;
top:0;
left:0;
}

#top .newsslider .feature_excerpt{
width:630px;
}

.newsslider .featured{
border:none;
width:670px;
}

#top .newsselect .sliderheading{
font-size:13px;
font-family: Arial, Helevtica, Verdana, san-serif;
font-weight: bold;
padding: 0;
}

.newsselect .single_item{
padding:10px;
display: block;
text-decoration: none;
line-height: 1.3em;
}

#top .newsslider .fadeout{
right:155px;
}

.newsselect .sliderdate{
display:block;
font-size: 11px;
}
/*-------------------*/



#top .feature_excerpt{
width:900px;
position: absolute;
display: block;
bottom: 0;
left:0;
z-index: 2;
padding:10px 20px;
font-size: 11.5px;
line-height:1.5em;
cursor: pointer;
}


#top .sliderheading{
display:block;
font-size: 26px;
font-weight: normal;
font-family: "Trebuchet MS",Arial,Helvetica,san-serif;
}

.sliderdate{
display:none;
}

#featured a, #featured a img, #featured img{
text-decoration: none;
border:none;
}

.bottom_right_rounded_corner, .bottom_left_rounded_corner, .top_right_rounded_corner, .top_left_rounded_corner{
display: block;
width:5px;
height:5px;
position: absolute;
z-index: 2100;
}

#featured a:hover{
text-decoration: none;
}

.bottom_right_rounded_corner{bottom:20px; right:0}
.bottom_left_rounded_corner{bottom:20px; left:0}
.top_right_rounded_corner{top:0; right:0}
.top_left_rounded_corner{top:0; left:0}

#top #featured .rel_pos{
position: relative;
}

/************************************************************************
MAIN CONTENT
*************************************************************************/
#top .wrap_fullwidth .content_fullwidth{
margin-bottom: 20px;
}

#main .center{
padding-top: 0;
overflow: visible;
}

#info {
bottom:17px;
padding:0 0 30px;
position:relative;
margin:0 0 30px;
}

#top .info_noslide{
margin:4px 0 12px 0;
padding:23px 0 26px;
position:relative;
bottom: auto;
}

.latest_work, .show_portfolio{
text-transform: uppercase;
float:left;
font-weight: bold;
display: block;
font-size: 11px;
}

#top .show_portfolio{
float: right;
padding-right:20px;
}

#top .portfolio_item{
font-size: 12px;
line-height: 1.7em;
padding:0 0 27px 0;
}

.portfolio_item .item_data{
padding:6px;
width:286px;
float: left;
}

#top .portfolio_item img, #top .portfolio_item a img{
border: none;
display: block;
margin-bottom: 5px;
}

#top .portfolio_item h2{
font-size: 13px;
font-weight: bold;
text-transform: uppercase;
padding:1px 1px 3px 1px;
border: none;
}

.category, .date, .post_data .comments{
display: block;
float: left;
font-size: 11px;
padding:0 0 0 20px;
font-weight: bold;
}

#top .portfolio_item .date{
float: right;
padding:0 20px 0 0;
}

.portfolio_item .entry{
padding:1px 1px 4px 1px;
}

/*blog*/

#top .entry{
margin-left:0;
}

.post_data .date,  .post_data .category, .post_data .comments{
margin-right:20px;
}

.entry_content{
clear:both;
position: relative;
float: left;
width: 100%;
padding-bottom: 30px;
overflow: hidden;
}

.image_border{
padding: 10px 0 20px 0;
}

.entry img{
padding:5px;
display: block;
}



.content_one_third img{
max-width:288px;
}

.content_two_third img{
max-width:608px;
}

#sidebar img{
max-width:268px;
}


.more-link{
display:block;
font-size:11px;
font-weight:bold;
line-height:20px;
margin:8px 0 0;
padding:0 20px 0 0;
width:62px;
}

.entry_content h1, .entry_content h2, .entry_content h3, .entry_content h4, .entry_content h5, .entry_content h6{
padding-top:20px;
}

/*pagination*/

#top .pagination {
clear:both;
padding:0 0 60px 0;
position:relative;
z-index:3;
}

#top .pagination span, #top .pagination a {
display:block;
float:left;
font-size:11px;
line-height:13px;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
}


#top .pagination .current{
font-size:11px;
padding:6px 9px 5px 9px;

}
	